html, body {
  margin: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

canvas {
  border: 1px solid #000;
}

#restartButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50; /* 绿色背景 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#restartButton:hover {
  background-color: #45a049; /* 悬停效果 */
}

